// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

*,
*::before,
*::after {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Abril Fatface', serif;
	font-weight: 700;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

p {
	font-size: 1.3rem;
}

.entry-header {
	margin-top: 100px;
}

/*flex content*/

.topic-row {
	padding: 100px;
}

.topic-row.green{
	background-color: $green;
}

.topic-row.black {
	background-color: #000;
}

.topic-row.yellow {
	background-color: $yellow;
}

.topic-row.gray {
	background-color: $gray;
}

.topic-row.green p, .topic-row.green h1, .topic-row.green h2, .topic-row.green h3, 
.topic-row.black p, .topic-row.black h1, .topic-row.black h2, .topic-row.black h3 {
	color: #fff;
}

/*TIMELINE STUFF*/
.timeline {
  position: relative;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: $dark-green;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.timeline-container.left {
  left: 0;
}

.timeline-container.right {
  left: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid $dark-green;
  border-radius: 16px;
  z-index: 1;
}

.timeline-container.right::after {
  left: -8px;
}

.timeline-container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: $dark-green;
  z-index: 1;
}

.timeline-container.right::before {
  left: 8px;
}

.timeline-container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: $dark-green;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.timeline-container.left .date {
  right: -175px;
}

.timeline-container.right .date {
  left: -175px;
}

.timeline-container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: $yellow;
  border: 2px solid $dark-green;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: $dark-green;
  z-index: 1;
}

.timeline-container.left .icon {
  right: 56px;
}


.timeline-container.right .icon {
  left: 56px;
}


.timeline-container .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.timeline-container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.timeline-container .content h2 {
  margin: 0 0 10px 0;
  font-size: 2.5rem;
  color: $dark-green;
}

.timeline-container .content p {
  margin: 0;
}


.timeline-container .content blockquote p{
	margin-left: 50px;
}

.timeline-container blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

.timeline-container blockquote:before {
  color: $dark-green;
  content: '\201C';
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.3em;
  font-family: serif;
}

@media (max-width: 767.98px) {
	.topic-row {
		padding: 50px 20px;
	}

  .timeline::after {
    left: 90px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .timeline-container.right {
    left: 0%;
  }

  .timeline-container.left::after, 
  .timeline-container.right::after {
    left: 82px;
  }

  .timeline-container.left::before,
  .timeline-container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .timeline-container.left .date,
  .timeline-container.right .date {
    right: auto;
    left: 15px;
  }

  .timeline-container.left .icon,
  .timeline-container.right .icon {
    right: auto;
    left: 146px;
  }

  .timeline-container.left .content,
  .timeline-container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}